* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: auto;
    font-size: 14px;
    line-height: 1.2;
    font-family: Nexa-Light;
    background-color: #ededed;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.button {
    width: 100px;
    height: 30px;
    border-style: none;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background: dimgray;
}

.clearfix:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

/*-------- Header --------*/

.header {
    color: #ffffff;
    background: #23282d;
    padding: 10px 20px;
}

.slogan {
    float: left;
    color: white;
}

.searchForm {
    float: right;
}

.searchInput, .searchButton {
    height: 28px;
    border-radius: 3px;
    border-style: none;
    padding: 5px;
}

.searchInput {
    width: 300px;
}

.searchButton {
    width: 100px;
}

/*-------- Wrapper --------*/

.wrapper {
    padding: 0 100px;
}

/*-------- Content --------*/

.content {
    padding: 10px 0;
}

/*-------- Post --------*/

.post {
    background: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
}

.postTitle, .postData, .postText {
    margin-bottom: 10px;
    padding-bottom: 3px;
    border-bottom: 1px solid gray;
}

.postTitle {
    font-size: 25px;
}

.postData {
    font-style: italic;
}

.postText {
    font-size: 18px;
}

/*-------- Navigation --------*/

.navigation {
    text-align: center;
    padding: 0 10px 10px 10px;
}

.navigation a {
    color: black;
    font-size: 20px;
    padding-right: 10px;
}

/*-------- Edit Area --------*/

.editPostArea {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 1000px;
    margin-top: -100px;
    margin-left: -500px;
}

.editPostForm {
    background: lightblue;
    padding: 10px;
}

/*-------- Add Area --------*/

.addPostArea, .editPostForm {
    margin: 10px 0;
}

.addPostForm {
    background: #ffffff;
    padding: 10px;
}

/*-------- Add Area And Edit Area --------*/

.editPostForm *, .addPostForm * {
    padding: 5px;
    margin-bottom: 5px;
}

.addPostTitle, .addPostText, .editPostTitle, .editPostText {
    width: 100%;
}

.addPostText, .editPostText {
    resize: none;
    height: 200px;
}

/*-------- Footer --------*/

.footer {
    color: #ffffff;
    background: #23282d;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

